
body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display:inline-block;
    border: 2px solid black;
}
#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}
#box1{
    background-color: pink;
}
#box2{
    background-color: aqua;
    
}

